.body {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
}

.hero-title {
  color: #fff;
  text-indent: .14em;
  background-color: #fff0;
  font-size: 80px;
}

.hero-section {
  background-color: #000;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.hero-logo {
  z-index: 1;
  max-width: 52vw;
  display: block;
  position: relative;
}

.section {
  background-color: #000;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: opacity .2s;
  position: relative;
  overflow: hidden;
}

.container {
  color: #4e4e4e;
  text-align: center;
  width: 100%;
  max-width: 1080px;
  margin: 16px auto;
  padding: 16px 24px;
}

.h5 {
  aspect-ratio: auto;
  color: #fff;
  text-align: left;
  letter-spacing: .2em;
  column-count: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Barlow Semi Condensed, sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 16px;
}

.background-video {
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
}

.h2 {
  color: #fff;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 52px;
  line-height: 80px;
  display: block;
}

.h6 {
  color: #fff;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.text {
  color: #fff;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  display: flex;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: ". ."
                 ". Area"
                 / 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.link-block {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
  background-color: #1d1d1d;
  border: 0 solid #000;
  border-radius: 10px;
  flex-flow: column;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.card-text--link {
  color: #fff;
  margin-bottom: 16px;
  font-family: Noto Sans JP, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.card-text--link:hover {
  opacity: .8;
  color: #fff;
  text-decoration: none;
}

.card-title-link {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Noto Sans JP, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.card-title-link:hover {
  opacity: .8;
  color: #fff;
  -webkit-text-stroke-color: #fff;
  text-indent: .02em;
  text-decoration: none;
}

.div-block-2 {
  z-index: 999;
  display: none;
  position: fixed;
  inset: 0;
}

.modal-s01 {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  background-color: #000000e0;
  border: 1px solid #000;
  border-radius: 5px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-self: auto;
  width: auto;
  min-width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0;
  display: flex;
  position: static;
  overflow: scroll;
}

.modal-overlay7 {
  z-index: 9999;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000;
  border: 1px #000;
  border-radius: 0;
  flex-flow: row;
  order: -9999;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-self: auto;
  align-items: center;
  width: auto;
  height: auto;
  display: none;
  position: fixed;
  inset: 0;
  overflow: auto;
}

.modal-trigger {
  z-index: 99;
  position: absolute;
  inset: 0;
}

.card-trigger {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
  flex-flow: column;
  display: flex;
}

.link-block-2 {
  background-color: #d12828;
}

.div-block-3 {
  z-index: 2;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -webkit-text-fill-color: inherit;
  cursor: pointer;
  background-color: #000;
  background-image: url('../images/x.png');
  background-position: 0 0;
  background-size: auto;
  background-clip: border-box;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
}

.modal-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  height: 139.825%;
  display: grid;
}

.modal-media {
  aspect-ratio: auto;
  background-image: url('../images/ahead_s_04.png');
  background-position: 50%;
  background-size: cover;
  width: 80em;
  height: 400px;
  min-height: 400px;
  display: block;
  overflow: hidden;
}

.modal-media._02 {
  background-image: url('../images/s4.png');
}

.modal-media._01 {
  background-image: url('../images/s111.jpg');
}

.modal-media._03 {
  background-image: url('../images/ahead_s_03.png');
}

.modal-media._05 {
  background-image: url('../images/ahead_s_05.png');
}

.modal-media._06 {
  background-image: url('../images/aaaabcd.png');
}

.modal-body {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: flex-start;
  width: 80em;
  height: 100%;
  max-height: 100%;
  padding: 16px 0;
  display: flex;
  overflow: scroll;
}

.h3 {
  color: #fff;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
}

.card-title-link-copy {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.card-title-link-copy:hover {
  opacity: .8;
  color: #fff;
  -webkit-text-stroke-color: #fff;
  text-indent: .02em;
  text-decoration: none;
}

.card-title-link-is-static {
  color: #fff;
  font-family: Noto Sans JP, sans-serif;
}

.card-text--link-static {
  color: #fff;
  margin-bottom: 16px;
  font-family: Noto Sans JP, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.card-text--link-static:hover {
  opacity: 1;
  color: #fff;
  mix-blend-mode: normal;
  text-decoration: none;
}

.tag-m {
  color: #fff;
  background-color: #00553e;
  border-radius: 999px;
  margin: 4px;
  padding: 4px 8px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 10px;
  font-weight: 300;
  display: inline-block;
}

.tag-m.ani {
  background-color: #a81991;
}

.div-block-4 {
  text-align: left;
  padding-left: 0;
}

.card-trigger--work {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.card-title-en {
  color: #fff;
  font-family: Barlow Semi Condensed, sans-serif;
  font-size: 16px;
  font-weight: 900;
}

.card-title-en.is-hoverable:hover {
  opacity: .5;
}

.card-title-jp {
  color: #fff;
  text-align: left;
  font-family: Noto Sans JP, sans-serif;
  font-size: 16px;
  display: block;
}

.card-title-jp.is-hoverable:hover {
  opacity: .51;
}

.card-title-m {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  color: #fff;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.card-title-m:hover {
  color: #fff;
}

.card-title-m.is-hover:hover {
  opacity: .53;
  color: #f01010;
}

.card-trigger--service {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
  flex-flow: column;
  display: flex;
}

.div-block-5 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 16px;
  margin-bottom: 16px;
  display: block;
}

.card-wrap {
  text-decoration: none;
}

.card-wrap.is-link {
  cursor: pointer;
}

.card-wrap.is-static {
  cursor: default;
}

.tag-p {
  color: #fff;
  background-color: #cc5050;
  border-radius: 999px;
  margin: 4px;
  padding: 4px 8px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 10px;
  font-weight: 300;
  display: inline-block;
}

.tag-g {
  color: #fff;
  background-color: #5090cc;
  border-radius: 999px;
  margin: 4px;
  padding: 4px 8px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 10px;
  font-weight: 300;
  display: inline-block;
}

.btn-contact {
  color: #fff;
  text-align: center;
  cursor: pointer;
  mix-blend-mode: normal;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 16px 32px;
  font-family: Barlow Semi Condensed, sans-serif;
  font-size: 100px;
  font-weight: 900;
  line-height: 80px;
  transition: transform .2s cubic-bezier(.39, .575, .565, 1), opacity .2s ease-out;
}

.btn-contact:hover {
  color: #b11d16;
  -webkit-text-stroke-color: #ff0b00;
  mix-blend-mode: normal;
  transform: scale(1.1);
}

.link-block-3 {
  text-decoration: none;
}

.text-block {
  color: #fff;
  margin-top: 60px;
  font-family: Barlow Semi Condensed, sans-serif;
  font-size: 12px;
}

.background-video-sp {
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0;
}

.tag-g-a {
  color: #fff;
  background-color: #cacc50;
  border-radius: 999px;
  margin: 4px;
  padding: 4px 8px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 10px;
  font-weight: 300;
  display: inline-block;
}

.tag-g-a.c {
  background-color: #5e50cc;
}

.modal-content-wrap {
  align-self: auto;
  display: block;
}

.modal-content-is-01, .modal-content-is-02 {
  display: none;
}

.modal-content-is-03 {
  display: block;
}

.modal-content-is-03._03 {
  display: none;
}

.modal-content-is-04 {
  display: flex;
}

.modal-content-is-04._04, .modal-content-is-05 {
  display: none;
}

.modal-content-is-06 {
  display: block;
}

.modal-content-is-06._06 {
  display: none;
}

.div-block-6 {
  background-image: url('../images/rogo-1.svg');
  background-position: 50%;
  background-size: contain;
}

.glitch-logo {
  z-index: 999;
  background-color: #fff0;
  background-image: url('../images/rogo-1.svg');
  background-position: 0 0;
  background-size: contain;
  width: 520px;
  min-width: 520px;
  height: 140px;
  min-height: 140px;
  display: flex;
  position: absolute;
}

.div-block-7 {
  background-color: #e00000;
  min-width: 300px;
  min-height: 300px;
}

.skew.logo-wrap {
  opacity: 0;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  inset: auto;
}

.logomain {
  z-index: 9999;
  opacity: 0;
  overflow-wrap: normal;
  justify-content: center;
  align-self: auto;
  align-items: center;
  display: flex;
  position: absolute;
}

.image-2 {
  width: 80%;
  height: 80%;
}

@media screen and (max-width: 991px) {
  .hero-logo {
    max-width: 52vw;
  }

  .modal-overlay7 {
    width: auto;
    height: auto;
  }

  .modal-grid {
    width: 100%;
    height: auto;
  }

  .modal-media {
    width: 100%;
    height: 38%;
  }

  .modal-body {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .hero-logo {
    max-width: 52vw;
  }

  .section {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .div-block {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .modal-overlay7 {
    width: auto;
    height: auto;
  }

  .modal-grid {
    width: 100%;
  }

  .modal-media {
    width: 100%;
    height: 300px;
    min-height: 300px;
  }

  .modal-body {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .hero-section {
    overflow: hidden;
  }

  .hero-logo {
    max-width: 52vw;
    transform: translate(0);
  }

  .section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 40px;
  }

  .background-video {
    box-sizing: border-box;
    aspect-ratio: auto;
    object-fit: cover;
    display: none;
    overflow: visible;
    transform: translate(0);
  }

  .h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 50px;
  }

  .h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 40px;
  }

  .text {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    align-items: stretch;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 30px;
    display: flex;
  }

  .div-block {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .modal-s01 {
    color: #000;
    -webkit-text-stroke-color: #000000e3;
    background-color: #000;
    flex: 0 auto;
    align-self: flex-start;
    width: 100%;
    min-width: 0;
    max-width: 90vw;
    height: 100%;
    max-height: none;
    padding: 60px 0;
    display: block;
    position: relative;
    overflow: scroll;
  }

  .modal-overlay7 {
    border-color: #000000c7;
    flex-flow: row-reverse;
    order: 0;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding-top: 10px;
    display: none;
    overflow: hidden;
  }

  .div-block-3 {
    grid-column-gap: 41px;
    grid-row-gap: 41px;
    right: 32px;
  }

  .modal-media {
    height: 200px;
    min-height: 200px;
  }

  .modal-media._06 {
    min-width: 100px;
    overflow: hidden;
  }

  .modal-body {
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    overflow: scroll;
  }

  .h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .card-title-en, .card-title-jp {
    margin-top: 0;
    margin-bottom: 0;
  }

  .btn-contact {
    font-size: 32px;
    line-height: 32px;
  }

  .background-video-sp {
    box-sizing: border-box;
    aspect-ratio: auto;
    object-fit: cover;
    display: block;
    overflow: visible;
    transform: translate(0);
  }

  .glitch-logo {
    width: 268px;
    min-width: 268px;
    height: 72px;
    min-height: 72px;
  }

  .logomain {
    width: 60%;
    height: auto;
  }

  .image-2 {
    width: auto;
    height: auto;
  }
}

#w-node-_7d217567-9fde-d904-eec3-db757be3f5dd-94f3da93 {
  place-self: auto center;
}

#w-node-_2cd39603-8085-2c83-1022-b444e581af1f-94f3da93 {
  place-self: start center;
}

#w-node-_4fa07362-2ddd-c4d4-5bff-5077e1dd17f3-94f3da93 {
  place-self: auto center;
}

#w-node-_4fa07362-2ddd-c4d4-5bff-5077e1dd17f4-94f3da93 {
  place-self: start center;
}

#w-node-_71eaee3c-3831-ef43-4e19-06ae3fa95861-94f3da93 {
  place-self: auto center;
}

#w-node-_71eaee3c-3831-ef43-4e19-06ae3fa95862-94f3da93 {
  place-self: start center;
}

#w-node-_739bae7c-3204-1efa-ba57-2ee418a727fa-94f3da93 {
  place-self: auto center;
}

#w-node-_739bae7c-3204-1efa-ba57-2ee418a727fb-94f3da93 {
  place-self: start center;
}

#w-node-_1740e279-86eb-4609-9b70-cc37a5f45858-94f3da93 {
  place-self: auto center;
}

#w-node-_1740e279-86eb-4609-9b70-cc37a5f45859-94f3da93 {
  place-self: start center;
}

#w-node-_3c15f35a-db9e-2110-c879-015fb9d29c0b-94f3da93 {
  place-self: auto center;
}

#w-node-_3c15f35a-db9e-2110-c879-015fb9d29c0c-94f3da93 {
  place-self: start center;
}

@media screen and (max-width: 767px) {
  #w-node-_7d217567-9fde-d904-eec3-db757be3f5dd-94f3da93, #w-node-_4fa07362-2ddd-c4d4-5bff-5077e1dd17f3-94f3da93, #w-node-_71eaee3c-3831-ef43-4e19-06ae3fa95861-94f3da93, #w-node-_739bae7c-3204-1efa-ba57-2ee418a727fa-94f3da93, #w-node-_1740e279-86eb-4609-9b70-cc37a5f45858-94f3da93, #w-node-_3c15f35a-db9e-2110-c879-015fb9d29c0b-94f3da93 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


